body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #D7BDE2;
    margin: 0; /* Remove default body margin */
}

#noButton {
    position: absolute;
    transition: 0.5s;
}

#yesButton {
    position: absolute;
    margin-left: 20px; /* Add margin to the left for the "Of course, my love!" button */
}

.header_text {
    font-family: 'Nunito';
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.btn {
    background-color: #A569BD;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for background color and transform */
}

.btn:hover {
    background-color: #8e44ad; /* Darker color on hover */
    transform: scale(1.1); /* Scale up on hover */
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
}
